html {
    font-size: 62.5%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

img {
    display:block;
    margin:auto;
    margin-bottom: 10%;
    margin-top: 2%;
    width: 90%;
    alt: 90%;
}

p {
    letter-spacing: 2px;
    margin-bottom: 5%;
}